<label
  class="flex justify-start items-start"
  [class.text-gray-500]="node.type !== 'Rule' || node.automatic"
  [class.bg-yellow-100]="node.type === 'Rule' && !node.automatic"
>
  <div
    class="bg-white border-2 rounded w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
    [class.border-green-400]="node.type === 'Rule'"
    [class.border-green-200]="node.type !== 'Rule'"
  >
    <input
      type="checkbox"
      #checkbox
      [disabled]="node.type !== 'Rule'"
      [checked]="node.checked"
      (click)="onToggle()"
      class="opacity-0 absolute"
    />
    <svg
      class="fill-current hidden w-4 h-4 pointer-events-none"
      [class.text-green-400]="node.type === 'Rule'"
      [class.text-green-200]="node.type !== 'Rule'"
      viewBox="0 0 20 20"
    >
      <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
    </svg>
  </div>
  <div class="select-none mt-1">
    <strong
      *ngIf="!!node.recomendation && node.recomendation !== 'Do'"
      class="p-1 mr-2 rounded-lg text-white"
      [class.bg-red-400]="node.recomendation === 'Avoid'"
      [class.bg-green-400]="node.recomendation === 'Consider'"
      >{{ node.recomendation }}
    </strong>
    <span [innerHTML]="node.label"></span>
    <a
      target="_blank"
      [attr.href]="urlReference"
      class="ml-2 text-indigo-600 underline"
    >
      <img src="/assets/hyperlink.svg" class="w-auto inline hover:text-blue-400" style="height: 1em">
    </a>
  </div>
</label>